.node {
    width: 30px;
    height: 30px;
    outline: 1px solid rgb(183, 176, 176);
    display: inline-block;
    margin-bottom: -3px;
  }
  
  .node-finish {
    background-color: rgb(227, 115, 18);
  }
  
  .node-start {
    background-color: rgb(40, 189, 75);
  }
  
  .node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
    @keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: rgba(55, 12, 39, 0.75);
      border-radius: 100%;
    }
  
    50% {
      background-color: rgba(236, 54, 203, 0.75);
    }
  
    75% {
      transform: scale(1.2);
      background-color: rgba(106, 41, 249, 0.75);
    }
  
    100% {
      transform: scale(1);
      background-color: rgba(84, 145, 251, 0.865);
    }
  }
  
  .node-wall {
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin-bottom: -2px;
    margin-top: -2px;
  }
  

  .node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes shortestPath {
    0% {
      transform: scale(0.6);
      background-color: rgb(235, 201, 66);
    }
  
    50% {
      transform: scale(1.2);
      background-color: rgb(235, 201, 66);
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(235, 201, 66);
    }
  }

  